.full-width {
  width: 100%;
}

.d-flex {
  display: flex;
}

.fx-col {
  flex-direction: column;
}

.btn-active-font{
  color:#151b25;
  font-weight: 700;;
}

.menu-btn {
  width:100%;
  justify-content: center;
  align-items: center;
  background-color: #314659;
  padding: 7px 7px;
  
}

.menu-btn:hover {
  background-color:#40607E ;
} 

.manu-btn:focus {
  background-color: #FFB800;
}

.icon {
  width: 2rem;
  height: 2rem;
  z-index:2000;
}

.icon-small{
  width: 1rem;
  height: 1rem;
}

.arrow-icon {
  width:1.5rem;
  
}

.chevron {
  color:#0a3052;
}


.card-padding {
  padding: 20px 15px;
}

.bd-radius-bt {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.bd-radius-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.d_none {
  display:none !important;
}

.v_none{
  visibility: hidden;
}

/* -----------------Loading-Spinner---------------*/

.spinner {
  display: none; 
 /*  transform: translate(-50%, -50%); */
  justify-content: center;
}

/* Animation  Spinner-img */
.spinner-img {
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite; /* continuous rotation */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ---------------------------tooltip ----------------*/

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #151b25;
  color: #ececec;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #151b25 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.border {
  border: 8px solid rgb(255, 238, 0);
  border-radius: 28px !important;
}

/* -------------------all colours of Pokemon-Types */

.type-fire {
  background-color: #EE8130;
   
}

.type-water {
  background-color: #6390F0;
}

.type-grass{
  background-color: #7AC74C;
}

.type-bug{
  background-color: #A6B91A;
}

.type-dark{
  background-color: #705746;
}

.type-dragon{
  background-color: #6F35FC;
}

.type-electric{
  background-color: #d3af1f;
}

.type-fairy{
  background-color: #D685AD;
}

.type-fighting{
  background-color: #C22E28;
}

.type-flying{
  background-color: #A98FF3;
}

.type-ghost{
  background-color: #735797;
}

.type-ground{
  background-color: #E2BF65;
}

.type-ice{
  background-color: #96D9D6;
}

.type-normal{
  background-color: #A8A77A;
}

.type-poison{
  background-color: #46a33e;
}

.type-psychic{
  background-color: #F95587;
}

.type-rock{
  background-color: #B6A136;
}

.type-steel{
  background-color: #B7B7CE;
}


.type-fire:hover {
  background-color: #EE8130;
 
}


.type-water:hover {
  background-color: #6390F0;
}

.type-grass:hover{
  background-color: #7AC74C;
}

.type-bug:hover{
  background-color: #A6B91A;
}

.type-dark:hover{
  background-color: #705746;
}

.type-dragon:hover{
  background-color: #6F35FC;
}

.type-electric:hover{
  background-color: #d3af1f;
}

.type-fairy:hover{
  background-color: #D685AD;
}

.type-fighting:hover{
  background-color: #C22E28;
}

.type-flying:hover{
  background-color: #A98FF3;
}

.type-ghost:hover{
  background-color: #735797;
}

.type-ground:hover{
  background-color: #E2BF65;
}

.type-ice:hover{
  background-color: #96D9D6;
}

.type-normal:hover{
  background-color: #A8A77A;
}

.type-poison:hover{
  background-color: #46a33e;
}

.type-psychic:hover{
  background-color: #F95587;
}

.type-rock:hover{
  background-color: #B6A136;
}

.type-steel:hover{
  background-color: #B7B7CE;
}